.home{
    display: flex;
    flex-direction: column;
    gap: 10px;

    .home_cont{
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
}
