.featured{
    display: flex;
    justify-content: center;
    height: 520px;
    background-color:  #013914;
    color: #fff;

    .cont{
        width: 100%;
        display: flex;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;

        .feat-l{
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2{
                font-weight: 500;
                font-size: 32px;

                em{
                    font-weight: 300;
                }
            }

            .search{
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 5px;
                background-color: #fff;
                border-radius: 10px;

                .sInput{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    
                    img{
                        height: 20px;
                        width: 20px;
                    }
                    
                    input{
                        font-size: 14px;
                        border: none;
                        outline: none;
                    }
                }

                .s-btn{
                    padding: 15px;
                    font-weight: 500;
                    border: none;
                    background-color: #1dbf73;
                    color: #fff;
                    border-radius: 0px 10px 10px 0px;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;

                }

                

            }
        }

        .popular{
            display: flex;
            gap: 10px;
            width: 100%;

            span{
                padding: 10px;
            }

            .p-btn{
                color: #fff;
                background: transparent;
                border: 1px solid #fff;
                padding: 3px 10px;
                border-radius: 15px;
                cursor: pointer;
            }

        }

        .feat-r{
            height: 100%;

            img{
                height: 100%;
                object-fit: contain;
            }
        }
    }
}
